*{
    margin: 0;
    padding: 0;
    color: inherit;
}

html{
    font: normal 14px/22px Helvetica Neue,sans-serif,Arial;
}

.body{
    
}

.container{
    left: 788px;
    top: 788px;
    right: 788px;
    bottom: 788px;
}

.article-top, .article-bottom{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

img{
    max-height: 200px;
}

.article-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-title{
    text-decoration: none;
    margin: 15px;
}

h1{
    font-size: 2em;    
}

.subtitle{
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.article-title .read {
    color: #5ad67d;
    text-align: right;
}

.subtitle{
    color: #a2a2a2;
}


@media (max-width: 640px){
    .article-top{
        flex-direction: column;
    }
    .article-bottom{
        flex-direction: column-reverse;
    }

}

@media (min-width: 640px) {
    .article-img{
        width: 1000px;
    }

}

